<.navhead current_user={@current_user} />
<.sidebar current_user={@current_user} />

<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="p-4 sm:ml-64">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>

<.footer />
